/* PARQSD BACKGROUND */
.parq-bg-image
	background-image url('images/wallpaper.png')
	background-repeat no-repeat
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
.img-height
	min-height 88px

/* TEXT */
.txt-white
	color white


/* TEXTAREA */
textarea.form-control
	min-height 15em

/* FONT-AWESOME LOGOS */
ul.hz-list 
	list-style-type none
	-webkit-padding-left 0
	-moz-padding-left 0
	-o-padding-left 0
	padding-left 0!important
	li
		display inline
		&:nth-child(n-1)
			padding-right 1em

.yellow-hover:hover
	color rgba(200,175,99,0.5)
	text-decoration none

/* NEWSLETTER INDEX */
.btn-submit 
	border 4px solid #C8AF63
	border-radius 0px
	background-color #000
	color #fff
	font-size 1.2em
	padding .6em 1.2em

/* FOOTER */
footer
	padding-top 1em
	a
		&:hover
			color rgba(200,175,99, 0.5)
			background-color #000!important